<%= form_for(@degree_progression) do |f| %>
  <% if @degree_progression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@degree_progression.errors.count, "error") %> prohibited this degree_progression from being saved:</h2>

      <ul>
      <% @degree_progression.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :course %>
    <%= f.collection_select :course_id, Course.all, :id, :title, {}, {class: :"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :is_complete %><br>
    <%= f.check_box :is_complete %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-default" %>
  </div>
<% end %>
