<h1>Todays Appointments</h1>

<table class="table table-striped">

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= link_to appointment.student.first_name, user_path(appointment.student) %></td>
        <td><%= appointment.start_time.to_date %> at <%= appointment.start_time.to_s(:time) %></td>
        <td><%= link_to "Notes", edit_appointment_note_path(:appointment_id => appointment.id, :id => appointment.note.id), {:class => "btn btn-success"} %></td>
       
        <td><%= link_to "Degree plan", user_degree_progressions_path(:user_id => appointment.student.id), {:class => "btn btn-success"} %></td>
        <td><%= link_to "Major", edit_student_user_path(appointment.student.id), {:class => "btn btn-success"} %></td>
         <td><%= link_to "Previous Advisor's Notes", notes_path(:id => appointment.note.id), {:class => "btn btn-success"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

