<!DOCTYPE html>
<html>
  <head>
    <title>Advisement</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <nav id="header" class="navbar navbar-fixed-top">
      <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
          <a id="brand" class="navbar-brand" href="<%= root_path %>">Advisement</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if !current_user.nil? %>
              <li><%= link_to "Log out",destroy_user_session_path, :method=>'delete', :id => "Logout" %></li>
          </ul> 
          <ul class="nav navbar-nav pull-right">
            <li> <%= link_to current_user.first_name, edit_user_path(current_user) %> </li>
            <% if  current_user.roles.exists?(:name => "Advisor") %>
              <li> <%= link_to "Advise", agenda_user_appointments_path(current_user) %> </li>
            <% elsif current_user.roles.exists?(:name =>"Student")%>
              <li> <%= link_to "Student", user_appointments_path(current_user) %> </li>
              <li> <%= link_to "My progress", user_degree_progressions_path(current_user) %> </li>
            <% end %>
          </ul>
            <% else %>
          <ul class="nav navbar-nav pull-right">
            <li> <%= link_to 'Login', new_user_session_path %> </li>
            <li> <%= link_to 'Sign up', new_user_path %> </li>
          </ul>
            <% end %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    
    <div class="container-fluid">

      <div class="bg"></div>
      
      <div id="card" class="container">
        <div class="page-header">
          <h1><%#= raw title %></h1>
        </div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        
        <div class="container-fluid">
          <%= yield %>
        </div>
        <hr>
      </div>
      
      <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html> 

